#page-header.about-header{
    background-image: url(/img/about/banner.png);
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
}
.about-text{
    padding-left: 2.5rem;
}
.about-text p{
    font-size: 1rem;
}
#about-app{
    text-align: center;
}
.video{
    width: 70%;
    height: 100%;
    margin: 4rem auto 0 auto;
}
.video video{
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
}


@media (max-width:425px){
    #about-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-head img{
    width: 90%;
    
}
 .about-text p {
   
    margin: 0 0 1.3rem 0;
}
.video{
    width: 90%;
    
}
}