* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 3.1rem;
    line-height: 4.0rem;
    color: #222;
}

h2 {
    font-size: 2.9rem;
    line-height: 3.4rem;
    color: #222;
}

h4 {
    font-size: 1.3rem;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 0.8rem;
    color: #222;
}

p {
    font-size: 0.8rem;
    color: #465b52;
    margin: 0.9rem 0 1.3rem 0;
}

.section-p1 {
    padding: 2.5rem 5.0rem;
}

.section-m1 {
    margin: 2.5rem 0;
}

.button-normal {
    font-size: 0.9rem;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    background-color: #fff;
    color: black;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    outline: none;
    justify-content: center;
    text-align: center;
    transition: all 0.7s ease;
}

.button-white {
    font-size: 0.8rem;
    padding: 0.6rem 1.0rem;
    font-weight: 600;
    background-color: transparent;
    color: #fff;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    justify-content: center;
    text-align: center;
    transition: all 0.7s ease;
}

body {
    width: 100%;
    overflow-x: hidden;
}

/* Header */
#header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #e3e6f3;
    padding: 1.1rem 6.0rem;
    align-items: center;
    box-shadow: 0 0.3rem 0.9rem rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbar {
    align-items: center;
    justify-content: center;
    display: flex;
}

#navbar li {
    list-style: none;
    padding: 0 1.4rem;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 35%;
    height: 0.1rem;
    background-color: #088178;
    position: absolute;
    bottom: -0.3rem;
    left: 1.3rem;
}

#mobile {
    display: none;
    align-items: center;
}

#mobile a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
}

#close {
    display: none;
}

/* Hero section */
#hero {
    background-image: url(/img/hero4.png);
    height: 90vh;
    background-size: cover;
    width: 100%;
    background-position: top 25% right 0;
    padding: 0 5%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#hero h4 {
    padding-bottom: 0.9rem;
}

#hero h1 {
    color: #088178;
}

#hero p {
    font-size: 1rem;
}

#hero button {
    background-image: url(/img/button.png);
    color: #088178;
    border: 0;
    padding: 0.9rem 5.0rem 0.9rem 4.1rem;
    background-color: transparent;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 1rem;
}

/* Feature */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 10.6rem;
    text-align: center;
    padding: 1.6rem 0.9rem;
    box-shadow: 1.3rem 1.3rem 2.1rem rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 0.3rem;
    margin: 0.9rem 0;
    transition: all 0.9s ease;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 0.6rem;
}

#feature .fe-box:hover {
    box-shadow: 0.6rem 0.6rem 3.4rem rgba(70, 62, 221, 0.5);
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 0.1rem 0.8rem 0.1rem 0.8rem;
    line-height: 3;
    border-radius: 0.2rem;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}



/* Product */
#product1 {
    text-align: center;
}

#product1 p {
    font-size: 1.1rem;
}

.pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pro {
    width: 23%;
    min-width: 15.6rem;
    padding: 0.6rem 0.75rem;
    border-radius: 0.9rem;
    cursor: pointer;
    box-shadow: 0.9rem 0.9rem 0.9rem 0.9rem rgba(0, 0, 0, 0.03);
    margin: 0.9rem 0;
    transition: all 0.9s ease;
}

.pro:hover {
    box-shadow: 0.6rem 0.6rem 2.8rem rgba(70, 62, 221, 0.4);
}

.pro img {
    width: 100%;
    background-size: cover;
}

.des {
    text-align: start;
    padding: 0.6rem 0;
}

.des span {
    font-size: 0.9rem;
    color: #606063;
}

.des h5 {
    font-size: 1.1rem;
    color: #1a1a1a;
    padding-top: 0.4rem;
}

.star i {
    font-size: 0.9rem;
    color: rgba(243, 181, 25);
}

.des h4 {
    padding-top: 0.4rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #088178;
}

.cart {
    font-size: 1.2rem;
    border-radius: 3.1rem;
    font-weight: 600;
    color: #088178;
    position: relative;
    bottom: 1.8rem;
    left: 5.7rem;
}


/* banner */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(/img/banner/b2.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 1.3rem;
}

#banner h2 {
    color: #fff;
    font-size: 2.2rem;
    padding: 0.6rem 0;
}

#banner span {
    color: #ef3636;
}

#banner button:hover {
    background-color: #088178;
    color: white;
}


/* sm banner */

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/img/banner/b17.jpg);
    min-width: 35.6rem;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 1.9rem;
}

.banner-box2 {
    background-image: url(/img/banner/b10.jpg);
}

.banner-box h4 {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
}

.banner-box h2 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 800;
}

.banner-box span {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.banner-box button:hover {
    background-color: #088178;
    border: 1px solid #088178;
}

/* Banner 3 Section */
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5rem;
}

.box {
    display: flex;
    flex-direction: column;
    background-image: url(/img/banner/b7.jpg);
    height: 30vh;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    min-width: 32%;
    padding: 1.3rem;
    margin-bottom: 1.3rem;
}

.box2 {
    background-image: url(/img/banner/b4.jpg);
}

.box3 {
    background-image: url(/img/banner/b18.jpg);
}

.box3 h4 {
    color: #fff !important;
    font-size: 0.9rem !important;
}

.box h2 {
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.7;
}

.box h4 {
    color: #ec544e;
    font-weight: 800;
    font-size: 1rem;
}

/* Newsletter Section */
#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(/img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    height: 30vh;
}

.newstext h4 {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 800;
}

.newstext p {
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
}

.newstext span {
    color: #ffbd27;
}

.form {
    display: flex;
    width: 40%;
}

.form input {
    padding: 0 1.3rem;
    height: 3.1rem;
    width: 100%;
    font-size: 0.9rem;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form button {
    padding: 0 1.6rem;
    background-color: #088178;
    color: #fff;
    flex-wrap: nowrap;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.25rem;
}

.logo {
    margin-bottom: 1.25rem;
}

footer h4 {
    font-size: 1rem;
    font-weight: 800;
    padding-bottom: 0.625rem;
}

footer p {
    font-size: 0.9rem;
    margin: 0 0 0.5rem 0;
}

footer strong {
    font-weight: bolder;
}

footer a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #222;
    margin-bottom: 0.625rem;
}

.follow {
    margin-top: 1.1rem;
}

.follow i {
    color: #465b52;
    padding-right: 0.25rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.install img {
    margin: 0.625rem 0 0.9375rem 0;
}

.row img {
    border: 1px solid #088178;
    border-radius: 0.375rem;
    cursor: pointer;
}

.follow i:hover,
footer a:hover {
    color: #088178;
}

.row img:hover {
    box-shadow: 0.625rem 0.625rem 2.8125rem rgba(70, 62, 221, 0.4);
}


/* Responsive */
@media (max-width: 48rem) {
    #header {
        padding: 0.2rem 6rem;
    }

    #navbar {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        display: flex;
        position: fixed;
        top: 0;
        right: -18.75rem;
        height: 100vh;
        width: 18.75rem;
        background-color: #e3e6f3;
        box-shadow: 0 2.5rem 3.75rem rgba(0, 0, 0, 0.01);
        padding: 6rem 0 0 0.625rem;
        transition: 0.5s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 1.5625rem;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        padding-left: 1.2rem;
        font-size: 1.4rem;
    }

    #close {
        display: initial;
        position: absolute;
        top: 2.5rem;
        left: 1.875rem;
        color: #222;
        font-size: 1.4rem;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 5rem;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 0.9375rem;
    }

    .pro {
        margin: 1.25rem;
    }

    .banner-box {
        min-width: 100%;
        height: 55vh;
        background-size: cover;
        margin-top: 0.875rem;
    }

    #banner3 {
        padding: 0 2.5rem;
    }

    .box {
        width: 30%;
    }

    #newsletter {
        height: 50vh;
    }

    .form {
        width: 70%;
    }
}
@media (max-width: 450px) {
    .section-p1 {
        padding: 1.25rem;
    }

    #header {
        padding: 0.625rem 1.875rem;
    }

    #hero {
        height: 52vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0 1.25rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h1 {
        font-size: 2rem;
    }

    #hero p {
        font-size: 0.75rem;
    }

    .pro {
        width: 89%;
    }

    #banner3 {
        padding: 0 1.25rem;
    }

    .box {
        width: 100%;
    }

    .form {
        width: 90%;
    }
}

@media (max-width: 425px) {
    #hero {
        height: 17rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0 1.25rem;
        width: 100%;
        line-height: 0.4rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 1.9375rem;
    }

    #hero p {
        font-size: 0.6875rem;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 10.6rem;
        margin: 0 0 1.5rem 0;
    }
}

@media (max-width: 375px) {
    #hero {
        background-size: cover;
        background-position: 45%;
        padding: 0 1.25rem;
        height: 43vh;
    }

    h2 {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 1.6875rem;
    }

    #hero p {
        font-size: 0.625rem;
    }

    #feature .fe-box {
        width: 9.37rem;
        margin: 0 0 1.56rem 0;
    }

    .pro {
        width: 100%;
    }

    .banner-box {
        min-width: 100%;
        height: 18.75rem;
        background-size: cover;
        margin-top: 0.875rem;
    }

    .banner-box h4 {
        font-size: 1.1rem;
    }

    .banner-box h2 {
        font-size: 1.3rem;
    }

    .banner-box span {
        font-size: 0.6rem;
    }
}











